:root {
    --font-family: "Manrope", sans-serif;

    --color-primary-blue-200: hsl(193, 38%, 86%);
    --color-primary-green-300: hsl(150, 100%, 66%);
    --color-neutral-blue-600: hsl(217, 19%, 38%);
    --color-neutral-blue-900: hsl(217, 19%, 24%);
    --color-neutral-blue-950: hsl(218, 23%, 16%);

    --quote-font-size: 28px;
    --quote-font-weight: 800;
}